*{
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar-nav{
    font-size: 18px;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Resume */

.iocn-button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.iocn-button{
    width: 196px;
    background: #E02C6D;
    padding: 10px;
    border-radius: 20px;
    transition: .5s linear ;
    text-align: center;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.iocn-button:hover{
    width: 250px;
    padding: 10px;
    cursor: pointer;
}
@keyframes button {
    0%   {background-color: rgb(15, 15, 15);}
    25%  {background-color: #323132;}
    50%  {background-color: orange}
    100% {background-color: rgb(245, 240, 246);}
  }


.links{
    transition: all 0.3s ease;
}
.links:hover{
    color: yellow;
    transform: scale(1.1);
}

/* progress */

.progress{
    height: 20px;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.progress:hover{
    transform: scale(1.1);
}

/* card  */

.card{
    margin-top: 20px ;
    transition: all 0.5s ease;
}

.card img{
    margin: auto;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px black;
}